<!-- src=/home/martin/data/ILIAD/map_alignment_ms4/permanent_res02/orkla_occupancy_map.pgm, dst=/home/martin/data/ILIAD/map_alignment_ms4/2021-06-14_2/occupancy_map-edit.pgm -->
<launch>
<node pkg="tf" type="static_transform_publisher" name="maplaser_to_mapmod" args="-17.84628866660684 20.299047112768175 0 -0.752695370641 0 0 map_mod map_laser2d 1000"></node>
</launch>
